{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@theme": "./themes/minimalist"
        }
      }
    ]
  ]
}
