.main-menu {
  margin-bottom: 2rem;
}
.main-menu .linksUl {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.main-menu a {
  margin: 0 1rem;
}

@media (max-width: 900px) {
  .main-menu {
    text-align: center;
  }
  .main-menu .linksUl {
    display: block;
  }
  .main-menu .linksLi {
    display: block;
    text-align: center;
  }
  .main-menu .navigationContainer {
    display: block;
  }
}
